h1{
    font-size: 100px;
    color:red;
    text-align: center;
    background-color: black;
}
p{
text-align: center;
font-size: 35px;
background-color: rgb(240, 17, 17);
color: white;
}

body{
    background-color: black;
}