h1{
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: rgb(235, 16, 16);
}
p{
text-align: center;
font-size: 35px;
background-color: rgb(240, 17, 17);
color: white;
}

body{
    background-color: black;
}